.hero-image {
  display: block;
  cursor: pointer;
}

.first-image {
  height: 230px;
  background-size: center;
  background-position: center;
  background-color: aqua;
}

.favorite-restaurant {
  
}