@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600');
$grey: #d8d9db;
$opentable-red: #da3743;
$star-grey: #e1e1e1;
$icon: #2D333F;

body {
  // font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
}

.overviewSection {
  margin: -50.51px 0 0 224px;
  width: 640px;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $grey;
}

a { 
  color: inherit;
  text-decoration: none;
} 

svg {
  display: inline-block;
  margin-right: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  .red {
    fill: $opentable-red;
  }
  .grey {
    fill: $star-grey;
  }
  .nofill {
    fill: none;
  }
}

.tracy {
  padding: 0 15px;
}

.footer {
  max-width: inherit;
  width: inherit;
  font-size: 14.8px;
  font-weight: 500;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 51px;
  border-radius: 2px 2px 0 0;
  margin: 0 1rem 0 0;
  -webkit-font-smoothing: antialiased;
  position: sticky;
  top: 0;
  align-items: center;
  ul {
    height: 49px;
    width: 650px;
    list-style: none;
    background-color: #fff;
    border-radius: 2px 2px 0 0;
    padding: 0 .5rem;
    margin: 0 !important;
    padding-top: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
  }
  ul::after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: 0px;
    left: 15px;
    border-bottom: 1px solid #d8d9db;
  }
  ul li {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    padding: 10px;
    margin-right: 0.5rem;
  }
  ul li:hover {
    content: "";
    position: static;
    right: .5rem;
    bottom: 0px;
    left: .5rem;
    border-bottom: 3px solid #da3743;
  }
  ul li:focus {
    content: "";
    position: static;
    right: .5rem;
    bottom: 0px;
    left: .5rem;
    border-bottom: 3px solid #da3743;
  }
  a:link {
    color: #2d333f;
    background: #fff;
    text-decoration: none;
  }
  a:hover {
    color: #da3743;
    background: #fff;
  }
  a:focus {
    color: #da3743;
    background: #fff;
  }
  a:active {
    color: #da3743;
    background: #fff;
  }
}

.heroImage {
  position: relative;
  padding: 0;
  .backgroundImage{
    width: 100%;
    height: 320px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  .bookmarking {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 15rem;
    margin: 0;
    padding: 0;
    padding: calc(.75rem - 1px) calc(1rem - 1px);
    .favorited {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12rem;
      padding: 7.5px;
      background-color: #fff;
      border: 1px solid #d8d9db;
      fill: $opentable-red;
      border-radius: 2px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 13px;
      cursor: pointer;
      svg {
        margin-top: 5px;
      }
    }
    .save {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12rem;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #d8d9db;
      border-radius: 2px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 13px;
      cursor: pointer;
    }
  }
}

.infoSection {
  display: flex;
  align-items: center;
  height: 1.5rem;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.875em;
  font-weight: 400;
  .reviewContainer, .reviews {
    display: flex;
  }
  .stars, .price, .cuisine {
    display: flex;
  }
  .stars {
    .icons {
      display: inline-block;
    }
    svg {
      height: 1rem;
      width: 1rem;
      margin: 0;
    }
  }
  .reviewText, .priceText, .cuisineText, .starsText {
    margin-right: 0.5rem;
    display: flex;
    align-self: center;
  }
  .starsText {
    margin-left: 0.35rem;
  }
}

.topTags {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  .tagText {
    display: flex;
    font-size: 1.125em;
    margin-right: 0.5rem;
  }
  .tags {
    border: 1px solid $grey;
    border-radius: 1rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.875em;
    &:hover {
      border: 2px solid $opentable-red;
      padding: calc(0.5rem - 1px) calc(1rem - 1px);
      cursor: pointer;
    }
  }
}

.description {
  font-size: 1em;
  font-weight: 300;
  width: 90%;
  margin-bottom: 2rem;
  #descriptionText {
    margin-bottom: 1rem;
    p {
      margin-top: 0;
    }
  }
  .collapsedP {
    height: 63px;
    overflow: hidden;
  }
  .expandedP {
    height: auto;
  }
  .expandDescription {
    color: $opentable-red;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

#details {
  height: 375px;
  overflow: hidden;
  position: relative;  
  &.autoHeight {
    height: auto;
    overflow: visible;
  }
}

.privateDining {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0.75rem;
  border: 1px solid #d8d9db;
  margin: 2rem 0 0;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  .privateDiningSvg {
    width: 50px;
    height: 50px;
    transform-origin: 0px 0px;
    .circle {
      fill: #9485bc;
    }
    .glass {
      fill: #d4c8e3;
    }
    .bird {
      fill: #534f9e;
    }
  }
  h3, p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: auto;
    line-height: 0.3em;
  }
  h3 {
    font-size: 0.875em;
    margin-bottom: 0.25rem;
  }
  p, .privateDiningButton {
    font-size: 1em;
    font-weight: 300;
  }
  .privateDiningButton {
    padding: 0.5rem 1rem;
    border: 1px solid $grey;
    font-size: 0.875em;
    font-weight: 400;
    width: fit-content;
    &:hover {
      border: 2px solid $opentable-red;
      cursor: pointer;
    }
  }
}

.photos {
  .picHeading {
    display: flex;
    float: none;
    position: static;
    height: 49px;
    width: 650px;
    font-size: 24px;
    font-weight: 200;
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    padding-bottom: 2rem;
    border-bottom: 1px solid #d8d9db;
  }
  .grid {
    outline: none;
    display: grid;
    overflow: hidden;
    position: relative;
    height: 300px;
    width: 100%;
    padding-top: 20px;
    grid-template-columns: 23% 47% 15% 15%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1.5px;
    grid-column-gap: 1.5px;
    cursor: pointer;
  }
  .gridIndex0 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 3;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .gridIndex1 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 3;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .gridIndex2 {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 6;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .gridIndex3 {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .gridIndex4 {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 2;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .gridIndex5 {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 2;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .gridIndex6 {
    grid-column-start: 4;
    grid-column-end: 5 start;
    grid-row-start: 1;
    grid-row-end: span 2;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .gridIndex7 {
    grid-column-start: 4;
    grid-column-end: 5 start;
    grid-row-start: 3;
    grid-row-end: span 2;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .gridIndex8 {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 2;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .ninthPic {
    text-align: center;
    color: white;
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 2;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    object-fit: cover;
    vertical-align: middle;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    background: 0 0;
    border: 0;
    text-decoration: none;
  }
}

.carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.9);
  z-index: 1001;
  white-space: nowrap;
  background-size: cover;
  background-position: center;
  .allCarouselPhotos {
    position: fixed;
    top: 10%;
    left: 537.5px;
    right: 537.5px;
    width: 525px;
    white-space: nowrap;
    background-size: cover;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .exit {
    fill: #91949a;
    font-size: 1.2rem;
    position: absolute;
    top: 20px;
    right: 0;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
  }
  .left {
    fill: #91949a;
    font-size: 1.2rem;
    position: absolute;
    top: 310px;
    left: 480px;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
  }
  .right {
    fill: #91949a;
    font-size: 1.2rem;
    position: absolute;
    top: 310px;
    right: 480px;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
  }
  .notReported {
    fill: #91949a;
    font-size: 1.2rem;
    position: absolute;
    top: 608px;
    right: 530px;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
  }
  .reported {
    fill: $opentable-red;
    font-size: 1.2rem;
    position: absolute;
    top: 608px;
    right: 530px;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
  }
}
